.anton{
    font-family: 'Anton', sans-serif;
}
img.banniere{
    position: static;
    z-index: -1;
    width: 100%;
}
body{
    background-color: black;
}
span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
div.allbody{
    z-index: 0;
}
/*Test the css file*/