.anton{
    font-family: 'Anton', sans-serif;
    color: white;
}
a{
    display: inline;
}
img.banniere{
    position:static;
    z-index: -1;
}
body{
    background-color: black;
}
/*Test the css file*/