p{
    font-family: 'Black Ops One', cursive;
    color: white;
}
.alignement{
    display: flex;
}
body{
    background-color: rgb(0, 0, 0);
}
img.background{
    opacity: 0.5;
    border-radius: 5px;
}
.pjs{
    display: block;
}